<!DOCTYPE html>
<html>
<head>
    <title>Duy Hai NGUYEN</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container body">
    <div class="" role="main">
        <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                    </div>
                    <div class="x_content">
                        <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/p160x160/18664710_10158698254580335_4790528383516975576_n.jpg?oh=97ea5fb29b27b177332bd5645ba2b7ce&oe=59C8E2EB"/>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    
</script>

</body>
</html>