<div class="row">
<div class="col-sm-3 col-md-3 text-right">
    <h2>About me</h2>
    <h5>
        professional profile<br style="display: inline;"> and contact info
    </h5>
</div>
<div class="col-sm-6 col-md-6 resume-content">
    <img class="profile-picture" src="{{.photoLink}}" align="left" />
    <p>{{.description}}</p>
</div>
<div class="col-sm-3 col-md-3 text-center" style="padding: 10px 10px 0 10px;">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a href="#"><img src="/static/facebook.png" alt="facebook" width="24" height="24"></a>
        </div><div class="col-xs-4 col-sm-4 col-md-4">
            <a href="https://www.linkedin.com/in/dnguyen42"><img src="/static/linkedin.png" alt="linkedin" width="24" height="24"></a>
        </div><div class="col-xs-4 col-sm-4 col-md-4">
            <a href="#"><img src="/static/google.png" alt="google" width="24" height="24"></a>
        </div>
    </div>
</div>
</div>