<div class="row">
<div class="col-sm-3 col-md-3 text-right">
    <h2>About me</h2>
    <h5>
        professional profile<br style="display: inline;"> and contact info
    </h5>
</div>
<div class="col-sm-6 col-md-6 resume-content">
    <img class="profile-picture" src="{{.photoLink}}" align="left">
    Hello, I'm Lorem ipsum dolor sit amet, conseur adipiscing elit puella magna est.
    <br>Etiam sem eros, interdum at rutrum et, hendrerit id nisi. Etiam iaculis lorem eget arcu gravida lacinia. Fringilla justo ullamcorper ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Raesent sem elit, volutpat id vulputate faucibus, fringilla vel massa. Proin nec mi a mi tincidunt elementum sed vel ipsum.
</div>
<div class="col-sm-3 col-md-3 text-center" style="padding: 10px 10px 0 10px;">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a href="#"><img src="/static/facebook.png" alt="facebook" width="24" height="24"></a>
        </div><div class="col-xs-4 col-sm-4 col-md-4">
            <a href="https://www.linkedin.com/in/dnguyen42"><img src="/static/linkedin.png" alt="linkedin" width="24" height="24"></a>
        </div><div class="col-xs-4 col-sm-4 col-md-4">
            <a href="#"><img src="/static/google.png" alt="google" width="24" height="24"></a>
        </div>
    </div>
</div>
</div>