<div class="row">
<div class="col-sm-3 col-md-3 text-right">
    <h2>My Expertise</h2>
    <h5>
        skills that I'm<br style="display: inline;"> proud of
    </h5>
</div>
<div class="col-sm-4 col-md-4 resume-content">
    Fringilla justo ullamcorper ac. Class aptent taciti sociosqu ad litora torque per conubia nostra, per inceptos himenaeos magna puella molto est.
    <br>
    <br>Raesent sem elit, volutpat id vulputate faucibus, fringilla vel mass. Proin nec mi a mi tincidunt elementu sed vel ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <br>
    <br>I love doing what I do.
</div>
<div class="col-sm-5 col-md-5 text-center">
    <h4>UX Design</h4>
    <div class="progressbar percent_70"><div class="progressbar-inner"></div></div>
    
    <h4>HTML5 with CSS3</h4>
    <div class="progressbar percent_100"><div class="progressbar-inner"></div></div>
    
    <h4>PHP&amp;MySQL</h4>
    <div class="progressbar percent_30"><div class="progressbar-inner"></div></div>
    
    <h4>Javascript</h4>
    <div class="progressbar percent_90"><div class="progressbar-inner"></div></div>
</div>
</div>