<html>
<head>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{.photoLink}}" />
  {{template "head.tmpl.html"}}
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>
<body>
  <!-- Navbar template -->
  <div class="container">
  {{template "nav.tmpl.html" .}}

  <div style="padding: 0 0 30px 0;">
    <div class="text-center">
        <h1>DUY HAI NGUYEN</h1>
        <h2>WEB DEVELOPPER</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius risus ut purus dignissim sed sagittis libero rutrum.</h3>
    </div>
  </div>
  <div class="section">
    <div class="row">
      {{template "about.tmpl.html" .}}
    </div> <!-- row -->
  </div> <!-- section -->
  <div class="section">
    <div class="row">
      {{template "expertise.tmpl.html"}}
    </div> <!-- row -->
  </div> <!-- section -->
  <div class="section">
    <div class="row">
      {{template "experience.tmpl.html"}}
    </div> <!-- row -->
  </div> <!-- section -->
  <div class="section">
    <div class="row">
      {{template "education.tmpl.html"}}
    </div> <!-- row -->
  </div> <!-- section -->
  <div class="section">
    <div class="row">
      {{template "portfolio.tmpl.html"}}
    </div> <!-- row -->
  </div> <!-- section -->
  </div>
</body>
</html>
